<div class="card mb-2">
    <div class="card-header">
        <div>
            <strong>{{title}}:</strong> {{host}}
            {% if task_result.Changed %}
                - <span class="text-warning">changed</span>
            {% endif %}
            {% if task_result.Failed %}
                - <span class="text-danger">failed</span>
            {% endif %}
            {% if task_result.Skipped %}
                - <span class="text-secondary">skipped</span>
            {% endif %}
        </div>
        {% if task_result.Action %}
            <div>
                <strong>Action:</strong>
                {{ task_result.Action }}
            </div>
        {% endif %}
    </div>
    <div class="card-body">
        {% if task_result.Facts.System %}
            {% include "ansible_task_result_facts.twig" with facts=task_result.Facts %}
        {% endif %}

        {% if task_result.Destination %}
            <div>
                <strong class="text-secondary">Destination:</strong>
                {{ task_result.Destination }}
            </div>
        {% endif %}

        {% if task_result.ReturnCode %}
            <div>
                <strong class="text-secondary">Return code:</strong>
                {{ task_result.ReturnCode }}
            </div>
        {% endif %}

        {% if task_result.Message %}
            <h5>Message</h5>
            <pre><code>{{ task_result.Message }}</code></pre>
        {% endif %}

        {% if task_result.Stdout %}
            <h5>Standard output</h5>
            <pre><code>{{ task_result.Stdout }}</code></pre>
        {% endif %}

        {% if task_result.Stderr %}
            <h5>Standard errors</h5>
            <pre><code>{{ task_result.Stderr }}</code></pre>
        {% endif %}

        {% if task_result.Diff and task_result.Diff.Items %}
            <h5>Differences</h5>
            {% for diff in task_result.Diff.Items %}
                <div class="diff">
                    <div class="diff-before-header">{{ diff.BeforeHeader }}</div>
                    <pre class="diff-before-content">{{ diff.Before }}</pre>
                    <div class="diff-after-header">{{ diff.AfterHeader }}</div>
                    <pre class="diff-after-content">{{ diff.After }}</pre>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
