<div class="row">
    <div class="col-2 text-nowrap">
        {% if results_link %}
            <a href="/projects/playbooks/{{project.Id}}/runs/{{playbook.Id}}/result/{{run.Id}}"><i class="bi bi-arrow-right-circle"></i></a>
        {% endif %}
        {% if run.Result == 1 %}
            <span class="text-info text-nowrap">
                <i class="bi bi-clock"></i> Running
            </span>
        {% elif run.Result == 2 %}
            <span class="text-success text-nowrap">
                <i class="bi bi-check"></i> Finished
            </span>
        {% elif run.Result == 3 %}
            <span class="text-danger text-nowrap">
                <i class="bi bi-x"></i> Error
            </span>
        {% endif %}
    </div>
    <div class="col-2 text-nowrap">
        {% if run.Mode == 1 %}
            <span class="text-secondary">
                <i class="bi bi-file-diff"></i> Check
            </span>
        {% elif run.Mode == 2 %}
            <span class="text-primary">
                <i class="bi bi-play-fill"></i> Execute
            </span>
        {% elif run.Mode == 3 %}
            <span class="text-secondary">
                <i class="bi bi-spellcheck"></i> Syntax
            </span>
        {% endif %}
    </div>
    <div class="col-4 text-end">
        {% if not run.StartTime.IsZero() %}
            <span class="text-secondary" title="Start time">
                <i class="bi bi-clock-history"></i> {{run.StartTime.Format("02.01.2006 15:04:05")}}
            </span>
        {% endif %}
    </div>
    <div class="col-4 text-end">
        {% if not run.FinishTime.IsZero() %}
            <span class="text-secondary" title="Duration">
                <i class="bi bi-clock"></i> {{run.RunTime().String() }}
            </span>
        {% endif %}
    </div>
</div>
