{% extends "includes/layout.twig" %}

{% block title %}
    {% include "includes/project_with_playbook_name.twig" %} - run result - ensemble
{% endblock %}

{% block assets %}
    <script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>

    <script src="/assets/node_modules/diff/dist/diff.js"></script>

    <link rel="stylesheet" href="/assets/node_modules/diff2html/bundles/css/diff2html.min.css">
    <script src="/assets/node_modules/diff2html/bundles/js/diff2html.min.js"></script>
    <script src="/assets/node_modules/diff2html/bundles/js/diff2html-ui.min.js"></script>

    <script src="/assets/diff.js"></script>
    <script src="/assets/run_results.js"></script>
{% endblock %}

{% block content %}
    {% include "includes/breadcrumbs/project_playbook_run_result.twig" %}

    <h1>Playbook run result</h1>
    <h2>{% include "includes/project_with_playbook_name.twig" %}</h2>

    <div class="mb-3 mt-3 card">
        <div class="card-body">
            {% include "includes/run_result_row.twig" with results_link=0 %}
        </div>
    </div>

    <div class="mb-3 card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <i class="bi bi-person" title="User"></i> {{run_user.Login}}
                </div>
                <div class="col-4 text-center">
                    <i class="bi bi-pc-display" title="Inventory"></i> {{run.InventoryFile}}
                </div>
                <div class="col-4 text-end">
                    <i class="bi bi-list"></i>
                    {% if run.VariablesFile %}
                        {{run.VariablesFile}}
                    {% else %}
                        none
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if run.Result == 1 %}
        <div class="mb-3">
            {% include "includes/spinner_cog.twig" %}
            <div id="running-status"
                 class="text-center mb-3"
                 data-status-url="/projects/playbooks/{{project.Id}}/runs/{{playbook.Id}}/status/{{run.Id}}"
            >
                <div class="lead">Playbook running</div>
            </div>
            <form method="post" action="/projects/playbooks/{{project.Id}}/runs/{{playbook.Id}}/terminate/{{run.Id}}" enctype="application/x-www-form-urlencoded">
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="bi bi-power"></i> Stop execution
                    </button>
                </div>
            </form>
            <script src="/assets/running.js"></script>
        </div>
    {% endif %}

    {% if run_result.Error %}
        <div class="card border-danger mb-3">
            <h5 class="card-header text-white bg-danger">Run error</h5>
            <div class="card-body">
                <pre><code>{{ run_result.Error }}</code></pre>
            </div>
        </div>
    {% endif %}

    {% if run_result_ansible %}
        {% set stats = run_result_ansible.Stats %}
        {% set plays = run_result_ansible.Plays %}
        <div class="card mb-3">
            <h5 class="card-header">Run summary</h5>
            <div class="card-body">
                {% for host, result in stats %}
                    {% if forloop.Counter > 1 %}
                        <hr>
                    {% endif %}
                    <p>
                        <strong>Host:</strong> {{ host }}
                    </p>
                    <div class="row">
                        <div class="col-2">
                            <span class="text-success">Ok: {{ result.Ok }}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-warning">Changed: {{ result.Changed }}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-danger">Failures: {{ result.Failures }}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-secondary">Ignored: {{ result.Ignored }}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-secondary">Skipped: {{ result.Skipped }}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-secondary">Unreachable: {{ result.Unreachable }}</span>
                        </div>
                    </div>
                {% endfor %}
                <hr>
                <div class="mt-3 text-end">
                    <a class="btn btn-sm btn-outline-secondary"
                       href="/projects/playbooks/{{ project.Id }}/runs/{{ playbook.Id }}/download/{{ run_result.Id }}"
                    >
                        <i class="bi bi-download"></i> Run result JSON
                    </a>
                </div>
            </div>
        </div>

        {% for play in plays %}
            {% set info = play.PlayInfo %}
            {% set tasks = play.Tasks %}

            {% if forloop.Counter > 1 %}
                <hr>
            {% endif %}

            <h3>Play: {{ info.Name }}</h3>
            <p>
                <strong>Duration:</strong>
                {{ info.Duration.StartDate().Format("02.01.2006 15:04:05") }} - {{ info.Duration.EndDate().Format("02.01.2006 15:04:05") }}
            </p>

            {% for task in tasks %}
                {% set task_info = task.TaskInfo %}
                {% set task_results = task.TaskResults %}
                <div class="card mb-3">
                    <div class="card-header">
                        <div>
                            <strong>Task:</strong> {{ task_info.Name }}
                        </div>
                        <div>
                            <strong>Duration:</strong>
                            {{ task_info.Duration.StartDate().Format("02.01.2006 15:04:05") }} - {{ task_info.Duration.EndDate().Format("02.01.2006 15:04:05") }}
                        </div>
                    </div>
                    <div class="card-body">
                        {% for host, task_result in task_results %}
                            {% if forloop.Counter > 1 %}
                                <hr>
                            {% endif %}
                            {% include "includes/ansible_task_result.twig" with title="Host" host=host task_result=task_result %}
                            {% if task_result.ItemResults %}
                                <h5>With items</h5>
                                {% for item_result in task_result.ItemResults %}
                                    {% include "includes/ansible_task_result.twig" with title="Item" host=item_result.Item task_result=item_result %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% elif run_result.Output %}
        <div class="card mb-3">
            <div class="card-header">
                Run result
            </div>
            <div class="card-body">
                <pre><code>{{ run_result.Output }}</code></pre>
            </div>
        </div>
    {% endif %}

{% endblock %}
