{% extends "includes/layout.twig" %}

{% block title %}
    {{project.Name}} - {{ playbook.Name | default:playbook.Filename }} - delete run - ensemble
{% endblock %}

{% block content %}
    {% include "includes/breadcrumbs/project_playbook_run_delete.twig" %}

    <h1>Delete playbook run</h1>
    <h2>{{project.Name}} - {{ playbook.Name | default:playbook.Filename }}</h2>

    <form method="post" action="/projects/playbooks/{{project.Id}}/runs/{{playbook.Id}}/delete/{{run.Id}}" enctype="application/x-www-form-urlencoded">
        <p class="lead">
            Confirm deletion of playbook run on {{run.StartTime.Format("02.01.2006 15:04:05")}}
        </p>
        <hr>
        <div class="mb-3 text-end">
            <button type="submit" class="btn btn-danger">
                Delete playbook run
            </button>
        </div>
    </form>
{% endblock %}
