{% extends "includes/layout.twig" %}

{% block title %}
    {{project.Name}} playbooks - ensemble
{% endblock %}

{% block content %}
    {% include "includes/breadcrumbs/project_playbooks.twig" %}

    <h1>Playbooks</h1>
    <h2>{{project.Name}}</h2>

    {% if playbooks %}
        <ul class="list-group list-group-hover mb-3 mt-3">
            {% for playbookInfo in playbooks %}
                {% set playbook = playbookInfo.Playbook %}
                {% set run = playbookInfo.Run %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-10 col-md-9">
                            <div class="lead">
                                {% if playbook.Locked %}
                                    <i class="bi bi-lock" title="Locked"></i>
                                {% endif %}
                                {% if playbook.Name %}
                                    {{ playbook.Name }}
                                {% else %}
                                    {{ playbook.Filename }}
                                {% endif %}
                            </div>
                            {% if playbook.Description %}
                                <div class="mt-3">
                                    {{ playbook.Description }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-2 col-md-3 mt-3 mt-md-0 text-end text-nowrap">
                            {% if not playbook.Locked %}
                                <a href="/projects/playbooks/{{project.Id}}/run/{{playbook.Id}}/execute"
                                   class="btn btn-sm btn-outline-primary"
                                   title="Execute"
                                >
                                    <i class="bi bi-play-fill"></i> Execute
                                </a>
                            {% endif %}
                            <div class="d-inline-block dropdown">
                                <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
                                        type="button"
                                        id="playbook-menu-{{project.Id}}"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="playbook-menu-{{playbook.Id}}">
                                    {% if not playbook.Locked %}
                                        <li>
                                            <a class="dropdown-item" href="/projects/playbooks/{{project.Id}}/run/{{playbook.Id}}/execute">Execute</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/projects/playbooks/{{project.Id}}/run/{{playbook.Id}}/check">Check</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/projects/playbooks/{{project.Id}}/run/{{playbook.Id}}/syntax">Syntax check</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a class="dropdown-item" href="/projects/playbooks/{{project.Id}}/runs/{{playbook.Id}}">Playbook runs</a>
                                    </li>
                                    {% if user.CanLockPlaybooks() %}
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            {% if playbook.Locked %}
                                                <a class="dropdown-item" href="/projects/playbooks/{{project.Id}}/lock/{{playbook.Id}}/unlock">Unlock</a>
                                            {% else %}
                                                <a class="dropdown-item" href="/projects/playbooks/{{project.Id}}/lock/{{playbook.Id}}/lock">Lock</a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if run %}
                        <div class="mt-3">
                            {% include "includes/run_result_row.twig" with results_link=1 %}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% include "includes/empty_state.twig" with icon="bi bi-list" text="No playbooks found" %}
    {% endif %}

{% endblock %}
