{% extends "includes/layout.twig" %}

{% block title %}
    {{project.Name}} - {{ playbook.Name | default:playbook.Filename }} - run result - ensemble
{% endblock %}

{% block assets %}
    <script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/assets/node_modules/ansi_up/ansi_up.js"></script>
    <script src="/assets/node_modules/diff/dist/diff.js"></script>

    <link rel="stylesheet" href="/assets/node_modules/diff2html/bundles/css/diff2html.min.css">
    <script src="/assets/node_modules/diff2html/bundles/js/diff2html.min.js"></script>
    <script src="/assets/node_modules/diff2html/bundles/js/diff2html-ui.min.js"></script>

    <script src="/assets/playbook_run_result_output.js"></script>
{% endblock %}

{% block content %}
    {% include "includes/breadcrumbs/project_playbook_run_result.twig" %}

    <div class="row">
        <div class="col-10">
            <h1>Playbook run result</h1>
            <h2>{{project.Name}} - {{ playbook.Name | default:playbook.Filename }}</h2>
        </div>
        <div class="col-2 text-end">
            {% if run.Mode == 1 %}
                {% set repeat_href = "check" %}
            {% elif run.Mode == 2 %}
                {% set repeat_href = "execute" %}
            {% elif run.Mode == 3 %}
                {% set repeat_href = "syntax" %}
            {% endif %}
            {% if repeat_href and (run.Result == 2 or run.Result == 3) %}
                <a class="btn btn-sm btn-outline-primary" href="/projects/playbooks/{{project.Id}}/run/{{playbook.Id}}/{{ repeat_href }}">
                    <i class="bi bi-arrow-repeat"></i> Repeat
                </a>
            {% endif %}
        </div>
    </div>

    <div class="mb-3 mt-3 card">
        <div class="card-body">
            {% include "includes/run_result_row.twig" with results_link=0 %}
        </div>
    </div>

    <div class="mb-3 card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <i class="bi bi-person" title="User"></i> {{ run_user.Login | default:"none" }}
                </div>
                <div class="col-4 text-center">
                    <i class="bi bi-pc-display" title="Inventory"></i> {{ run.InventoryFile | default:"none" }}
                </div>
                <div class="col-4 text-end">
                    <i class="bi bi-list"></i> {{run.VariablesFile | default:"none"}}
                </div>
            </div>
        </div>
    </div>

    {% if run.Result == 1 %}
        <div class="mb-3">
            {% include "includes/spinner_cog.twig" %}
            <div id="running-status"
                 class="text-center mb-3"
                 data-status-url="/projects/playbooks/{{project.Id}}/runs/{{playbook.Id}}/status/{{run.Id}}"
            >
                <div class="lead">Playbook running</div>
            </div>
            <form method="post" action="/projects/playbooks/{{project.Id}}/runs/{{playbook.Id}}/terminate/{{run.Id}}" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="_ensemble_csrf" value="{{ _csrf_token }}">
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="bi bi-power"></i> Stop execution
                    </button>
                </div>
            </form>
            <script src="/assets/playbook_run_result_spinner.js"></script>
        </div>
    {% endif %}

    {% if run_result.Error %}
        <div class="card border-danger mb-3">
            <h5 class="card-header text-white bg-danger">Run error</h5>
            <div class="card-body">
                <pre><code class="ansi-output">{{ run_result.Error | split_output }}</code></pre>
            </div>
        </div>
    {% endif %}

    {% if run_result_ansible %}
        {% set stats = run_result_ansible.Stats %}
        {% set plays = run_result_ansible.Plays %}
        <div class="card mb-3">
            <h5 class="card-header">Run summary</h5>
            <div class="card-body">
                {% for host, result in stats %}
                    {% if forloop.Counter > 1 %}
                        <hr>
                    {% endif %}
                    <p>
                        <strong>Host:</strong> <code>{{ host }}</code>
                    </p>
                    <div class="row">
                        <div class="col-2">
                            <span class="text-success">Ok: {{ result.Ok }}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-info">Changed: {{ result.Changed }}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-danger">Failures: {{ result.Failures }}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-secondary">Ignored: {{ result.Ignored }}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-secondary">Skipped: {{ result.Skipped }}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-secondary">Unreachable: {{ result.Unreachable }}</span>
                        </div>
                    </div>
                {% endfor %}
                <hr>
                <div class="mt-3 text-end">
                    <a class="btn btn-sm btn-outline-secondary"
                       href="/projects/playbooks/{{ project.Id }}/runs/{{ playbook.Id }}/download/{{ run_result.Id }}"
                    >
                        <i class="bi bi-download"></i> Run result JSON
                    </a>
                </div>
            </div>
        </div>

        {% for play in plays %}
            {% set info = play.PlayInfo %}
            {% set tasks = play.Tasks %}

            {% if forloop.Counter > 1 %}
                <hr>
            {% endif %}

            <h3>Play: {{ info.Name }}</h3>
            <p>
                <i class="bi bi-clock" title="Duration"></i> {{ info.Duration.RunTime() | format_duration }}
            </p>

            {% for task in tasks %}
                {% set task_info = task.TaskInfo %}
                {% set task_results = task.TaskResults %}
                <div class="card mb-3">
                    <div class="card-header">
                        <div>
                            <i class="bi bi-play-circle" title="Task"></i> {{ task_info.Name }}
                        </div>
                        <div>
                            <i class="bi bi-clock" title="Duration"></i> {{ task_info.Duration.RunTime() | format_duration }}
                        </div>
                    </div>
                    <div class="card-body">
                        {% for host, task_result in task_results %}
                            {% if forloop.Counter > 1 %}
                                <hr>
                            {% endif %}
                            {% include "includes/ansible_task_result.twig" with title="Host" host=host task_result=task_result %}
                            {% if task_result.ItemResults %}
                                <h5>With items</h5>
                                {% for item_result in task_result.ItemResults %}
                                    {% include "includes/ansible_task_result.twig" with title="Item" host=item_result.Item task_result=item_result %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% elif run_result.Output %}
        <div class="card mb-3">
            <h5 class="card-header">Run result</h5>
            <div class="card-body">
                <pre><code class="ansi-output">{{ run_result.Output | split_output }}</code></pre>
            </div>
        </div>
    {% endif %}

{% endblock %}
